<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
            <!-- 2 Sección principal para mostrar la informaccion de la entidad pasteles -->
        <section th:fragment="listadoPasteles" id="pasteles">
            <div class="row row-cols-4">
                <div class="card" th:each="pasteles : ${pasteles}">
                    <figure><img th:src="${pasteles.imagen}" 
                                 class="card-img-top" alt="..."
                                 height="200"/>
                        <figcaption>[[${pasteles.precio}+' ('+${pasteles.calificacion}+')']]
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4 class="card-title">[[${pasteles.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">[[${pasteles.nombre}]]</p>                    
                    </div>
                </div>
            </div>
        </section>

                <!-- 2 Sección principal para mostrar la informaccion de la entidad postres -->
        <section th:fragment="listadoPostres" id="postres">
            <div class="row row-cols-4">
                <div class="card" th:each="postres : ${postres}">
                    <figure><img th:src="${postres.imagen}" 
                                 class="card-img-top" alt="..."
                                 height="200"/>
                        <figcaption>[[${postres.precio}+' ('+${postres.calificacion}+')']]
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4 class="card-title">[[${postres.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">[[${postres.nombre}]]</p>                    
                    </div>
                </div>
            </div>
        </section>
                
          <!-- 2 Sección principal para mostrar la informaccion de la entidad postres -->
        <section th:fragment="listadoReposterias" id="reposterias">
            <div class="row row-cols-4">
                <div class="card" th:each="reposterias : ${reposterias}">
                    <figure><img th:src="${reposterias.imagen}" 
                                 class="card-img-top" alt="..."
                                 height="200"/>
                        <figcaption>[[${reposterias.precio}+' ('+${reposterias.calificacion}+')']]
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4 class="card-title">[[${reposterias.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">[[${reposterias.nombre}]]</p>                    
                    </div>
                </div>
            </div>
        </section>
   
            
            
            
            
        </section>
        <!-- 3 Sección para crear los filtros -->
        <section th:fragment="filtros" class="bg-light">
            <div class="row py-2">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <form method="POST" th:action="@{/consultas/query1}"
                          class="was-validated">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="precioInf">[[#{consultas.precio.inferior}]]</label>
                                    <input type="number" class="form-control"
                                           th:value="${precioInf}"
                                           th:name="precioInf" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precioSup">[[#{consultas.precio.superior}]]</label>
                                    <input type="number" class="form-control"
                                           th:value="${precioSup}"
                                           th:name="precioSup" required="true"/>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-check"></i> [[#{consultas.ampliadas}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>         
    </body>
</html>