<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

  <header th:replace="~{main::header}"></header>

  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4" style="color: var(--coffee-brown);">
          <i class="fas fa-cookie-bite"></i> [[#{pasteles.titulo}]]
        </h2>
        <div th:insert="${content}"></div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer th:replace="~{main::footer}"></footer>

  <!-- Scripts -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
